<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Coffees</key>
	<array>
		<dict>
			<key>nameOrOrigin</key>
			<string>Default NameOrOrigin</string>
			<key>roaster</key>
			<string>Default Roaster</string>
			<key>averageRating</key>
			<integer>0</integer>
			<key>Cuppings</key>
			<array>
				<dict>
					<key>cuppingNameOrOrigin</key>
					<string>Default Name</string>
					<key>cuppingRoaster</key>
					<string>Default Roaster</string>
					<key>cuppingDate</key>
					<string>Hello</string>
					<key>cuppingLocation</key>
					<string>My Favorite Coffee Shop</string>
					<key>roastDate</key>
					<string>Hello</string>
					<key>brewingMethod</key>
					<string>French Press</string>
					<key>cuppingRating</key>
					<integer>0</integer>
					<key>cuppingNotes</key>
					<string>A, as aromatic seasonal shop coffee galão. Coffee, medium dark flavour acerbic, black as, saucer body arabica viennese dripper. Plunger pot variety doppio filter aromatic java roast. Foam mug, roast espresso skinny french press as ut grinder. Caramelization trifecta, sit beans, in organic white instant dripper aromatic shop.</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
